# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.sqlite3
media/
staticfiles/

# Environment
.env
.venv/
venv/
ENV/
python_env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Binaries / installers
*.exe