Django>=5.0,<6.0
django-sslserver
django-crispy-forms
crispy-bootstrap5
whitenoise
python-dotenv
psycopg[binary]
gunicorn
dj-database-url
Pillow
PyJWT>=2.8
cryptography>=41.0
reportlab
xlrd
openpyxl
pandas
django-simple-history


