Django>=5.0,<6.0
gunicorn
psycopg2-binary
dj-database-url
whitenoise
Pillow
python-dotenv
django-crispy-forms
crispy-bootstrap5
xlrd
openpyxl
pandas
reportlab
PyJWT
cryptography
django-simple-history


