{% autoescape off %}
Olá {{ user.get_username }},

Você está recebendo este e-mail porque solicitou a redefinição de senha para sua conta no Sistema de Controle de Materiais do Batalhão de Ações Especiais de Polícia.

Por favor, acesse o link abaixo para definir uma nova senha:

{{ protocol }}://{{ domain }}{% url 'usuarios:password_reset_confirm' uidb64=uid token=token %}

Seu nome de usuário, caso tenha esquecido: {{ user.get_username }}

Obrigado por utilizar nosso sistema!

Equipe BAEP
{% endautoescape %}