{% extends 'estoque/lista_generica.html' %}
{% block table_rows %}
{% for o in page_obj|default:objetos %}
<tr>
    <td><code>{{ o.codigo }}</code></td>
    <td class="fw-bold">{{ o.nome }}</td>
    {% if o.categoria_pai %}<td>{{ o.categoria_pai.nome }}</td>{% endif %}
    <td class="text-center">
        {% if o.ativo %}
            <span class="badge bg-success">Ativo</span>
        {% else %}
            <span class="badge bg-danger">Inativo</span>
        {% endif %}
    </td>
    <td class="text-end">
        <a href="{% url 'estoque:editar_categoria' o.id %}" class="btn btn-xs btn-outline-secondary btn-sm"><i class="fas fa-pencil-alt"></i></a>
    </td>
</tr>
{% endfor %}
{% endblock %}